[package]
name = "abm"
version = "0.0.1"
authors = ["Alessia Antelmi <aantelmi@unisa.it>", "Matteo D'Auria <matdauria@unisa.it>", "Daniele De Vinco <danieledevinco1996@gmail.com", "Carmine Spagnuolo <spagnuolocarmine@gmail.com>"]
edition = "2018"
license = "MIT"
keywords = ["discrete", "simulation", "agent based model", "agent based simulation"]
categories = ["science", "simulation", "agent based model"]
readme = "README.md"
homepage = "https://github.com/spagnuolocarmine/abm"
repository = "https://github.com/spagnuolocarmine/abm"

[profile.dev]
opt-level = 3

[profile.release]
opt-level = 3

[dependencies]
hashbrown = "0.3"
priority-queue = "0.5.4"
criterion =  { path = "criterion.rs"}
rand = "0.6.5"
lazy_static = "1.3.0"
piston_window = "0.105.0"
piston = "0.49.0"
piston2d-graphics = "0.35.0"
pistoncore-glutin_window = "0.63.0"
piston2d-opengl_graphics = "0.70.0"
cfg-if = "1.0.0"
DBdashmap = { path = "DBdashmap"}
num_cpus = "1.13.0"
rayon="1.5.0"
clap="2.33.3"

[target.'cfg(target_os = "macos")'.dependencies]
metal = "0.17.0"
cocoa = "0.19.1"
objc = "0.2.7"

[[bench]]
name = "scaling"
harness = false

[[bench]]
name = "constant_field"
harness = false

[[bench]]
name = "constant_density"
harness = false

[[bench]]
name = "constant_agent"
harness = false

# Must be kept separate and asked to the user due to missing support for conditional compilation of features
# https://github.com/rust-lang/cargo/issues/7914
[features]
amethyst_metal = ["amethyst", "amethyst/metal"]
amethyst_vulkan = ["amethyst", "amethyst/vulkan"]
sequential = []
parallel = []

[dependencies.amethyst]
version = "0.15.3"
optional = true
default-features = false
features = ["renderer"]



