[package]
name = "rust-ab"
version = "0.5.0"
authors = ["Carmine Spagnuolo <spagnuolocarmine@gmail.com>", "Alessia Antelmi <aantelmi@unisa.it>", "Matteo D'Auria <matdauria@unisa.it>", "Daniele De Vinco <danieledevinco1996@gmail.com", "Francesco Foglia <frafonia@gmail.com>", "Pasquale Caramante <pasqcaramante@gmail.com>"]
edition = "2018"
license = "MIT"
keywords = ["discrete", "simulation", "agent based model", "agent based simulation"]
categories = ["science", "simulation", "agent based model"]
readme = "README.md"
homepage = "https://github.com/spagnuolocarmine/rust-ab"
repository = "https://github.com/spagnuolocarmine/rust-ab"

[dependencies]
hashbrown = "0.3"
priority-queue = "0.5.4"
criterion =  "0.3.3"
rand = "0.7"
lazy_static = "1.3.0"
cfg-if = "1.0.0"
num_cpus = "1.13.0"
rayon="1.5.0"
clap="2.33.3"
ahash="0.6.2"

# Visualization features
image = {version="0.23.14",optional=true}
[dependencies.bevy]
version= "0.5.0"
default-features = false
optional=true


[target.'cfg(target_arch = "wasm32")'.dependencies]
bevy_webgl2 = "0.5.0"
getrandom = {version="0.1", features=["wasm-bindgen"]}

[[bench]]
name = "scaling"
harness = false

[[bench]]
name = "constant_field"
harness = false

[[bench]]
name = "constant_density"
harness = false

[[bench]]
name = "constant_agent"
harness = false

# Must be kept separate and asked to the user due to missing support for conditional compilation of features
# https://github.com/rust-lang/cargo/issues/7914
[features]
parallel = []
visualization = [
    "bevy",
    "bevy/bevy_winit",
    "bevy/render",
    "bevy/bevy_gltf",
    "bevy/png",
    "bevy/bevy_wgpu",
    "image"
]
visualization_wasm = [
    "bevy",
    "bevy/bevy_winit",
    "bevy/render",
    "bevy/bevy_gltf",
    "bevy/png",
    "image"
]
