.App {
  text-align: center;
  background-color: #211f1a;
}

.back-button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 20px;
  background-color: grey;
  color: #fff;
  text-align: center;
}

@media (min-width: 1220px){
  .back-button {
    margin-top: 0;
    position: absolute;
    padding: 1rem 2rem;
    left: 40px;
  }
  .InfoContainer{
    height:100vh;
    display:flex;
    justify-content:center;
  }
  .LineContainer{
    height:70vh;
    width: 70%;
  }
  .OtherContainer{
    width: 30%;
  }
  .BarContainer{
    margin-top:20vh;
    padding-right: 2vw;
    padding-left: 2vw;
    height:20vh;
  }
  .DougContainer{
    height:20vh;
  }
}
@media (max-width: 1220px){
  .singleChartContainer{
    margin:30px;
  }
  .LineContainer{
    display: block;
    margin:auto;
    width: 80vw;
    height:70vh;
  }
  .BarContainer{
    display: block;
    margin:auto;
    margin-top:20vw;
    width: 80vw;
    height:50vh;
  }
  .DougContainer{
    height:20vw;
  }
}
@media (max-width: 480px){
  .singleChartContainer{
    margin:0px;
  }
  .LineContainer{
    height: 50vh;
    width:auto;
    margin:20px;
  }
  .BarContainer{
    height: 50vh;
    width:auto;
    margin:20px;
    margin-top: 10vh;
  }
  .DougContainer{
    height:20vh;
  }
}
