name: Rust CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        rust:
          - stable
          - nightly
          - beta

    steps:
      - name: Ubuntu Required Deps
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install pkg-config libx11-dev libasound2-dev libudev-dev
          sudo apt install libxcb-randr0-dev libxcb-xtest0-dev libxcb-xinerama0-dev libxcb-shape0-dev libxcb-xkb-dev
          sudo apt install libxcb-render0-dev libxcb-xfixes0-dev libxcb1-dev
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - uses: Swatinem/rust-cache@v1

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all --examples --features visualization

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features parallel
          
      - name: TestNoFeatures
        uses: actions-rs/cargo@v1
        with:
          command: test
          args:

  coverage:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v2
     - uses: actions-rs/toolchain@v1
       with:
        toolchain: nightly
        override: true
        components: llvm-tools-preview

     - uses: Swatinem/rust-cache@v1
       with:
        key: coverage 

     - name: Cargo Clean
       run: |
        cargo clean

     - name: Setup
       run: |
        rustup update
        cargo install grcov
        
     - name: Run Tests
       run: |
        export CARGO_INCREMENTAL=0
        export RUSTFLAGS="-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests -Cpanic=abort"
        export RUSTDOCFLAGS="-Cpanic=abort"
        cargo build --release
        cargo test 
        cargo test --features parallel
      
     - name: Grcov run
       run: |
        grcov . -s . -t lcov --branch --llvm --ignore-not-existing --ignore "/*" -o lcov.info
        
    #  - name: Archive code coverage results
    #    uses: actions/upload-artifact@v2
    #    with:
    #     name: coverage
    #     path: target/debug/coverage
    
    #  - name: Download all workflow run artifacts
    #    uses: actions/download-artifact@v2
     
     - uses: codecov/codecov-action@v2
       with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./lcov.info